.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    flex: 1 1 300px;
    max-width: calc(33.333% - 2rem);
}

.articleimg {
    width: 100%;
    height: 250px;
    overflow: hidden;

}

.articleimg{
    width:300px;
    height:auto;
}

span{
    color: #767676;
}
h3{
    font-size: 20px;
}